<div class="review-item">
  <div class="review-item__left">
    <img src="{{ review.user.avatarUrl }}" alt="..." class="user-avatar user-avatar--small img-circle">
  </div>
  <div class="review-item__right">
    <div class="review-item__name">
      {{ review.user.name }}
    </div>
    <div class="review-item__body">
      {{ review.body }}
    </div>
  </div>
</div>
