<div class="space-details text-center">
  <div class="row ">
    <div class="col-xs-6">
      <div class="space-detail">
        <div class="space-detail__label">Distance</div>
        <div class="space-detail__value">1.1 km</div>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="space-detail">
        <div class="space-detail__label">Hourly rate</div>
        <div class="space-detail__value">$6.20</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <div class="space-detail">
        <div class="space-detail__label">Capacity</div>
        <div class="space-detail__value">Available (4/6)</div>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="space-detail">
        <div class="space-detail__label">Hourly rate</div>
        <div class="space-detail__value">2 hr ($12.40)</div>
      </div>
    </div>
  </div>
</div>