<div class="user-header m-b-20">
  <div class="user-header__left">
    <img src="https://placehold.it/300x300" alt="..." class="user-avatar img-circle">
  </div>

  <div class="user-header__right">
    <h2 class="user-header__name">
      Jane Smith<br />
      <small>Location</small>
    </h2>

    <div class="user-rating">
      <select class="rating-select user-rating-select" name="rating" data-current-rating="3.6" autocomplete="off">
        <option value=""></option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>
  </div>
</div>
