<div class="container">
  <div class="text-center">
    <h1>{{title}}</h1>
    <p>{{title}}</p>

    <div>
      <a href="" class="btn btn-default">
        Register as a carer
      </a>
    </div>

    <div>
      <a href="" class="btn btn-default">
        Find a safe child space
      </a>
    </div>
  </div>
</div>