<div class="page__content page__content--fullscreen page__content--centered">
  <div class="container">
    <div class="text-center">
      <img class="m-b-50" src="/images/logo.png" />

      <div class="form-group">
        <a href="#" class="btn btn-default">
          Register as a carer
        </a>
      </div>

      <div class="form-group">
        <a href="/browse" class="btn btn-default">
          Find a safe child space
        </a>
      </div>
    </div>
  </div>
</div>