<div class="page__content">
  <div class="container">
    <div class="text-center">
      <h1>{{title}}</h1>
      <p>{{title}}</p>

      <div class="form-group">
        <a href="" class="btn btn-default">
          Register as a carer
        </a>
      </div>

      <div class="form-group">
        <a href="/browse" class="btn btn-default">
          Find a safe child space
        </a>
      </div>
    </div>
  </div>
</div>