<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
      <h1>How was your childs care today?</h1>

      {{> user_header}}

      <form id="feedback-form" class="feedback-form" action="">
        <div class="form-group">
          <label class="control-label feedback-form__control-label" for="">Atmosphere</label>
          <p class="help-block feedback-form__help-block">
            Was there a happy, relaxed &amp; playful vibe?
          <p>
          <div class="review-rating feedback-form__review-rating">
            <select class="rating-select review-rating-select" name="rating" autocomplete="off">
              <option value=""></option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label feedback-form__control-label" for="">Activities &amp; Equipment</label>
          <p class="help-block feedback-form__help-block">
            Were good quality &amp; interesting toys available?
          <p>
          <div class="review-rating feedback-form__review-rating">
            <select class="rating-select review-rating-select" name="rating" autocomplete="off">
              <option value=""></option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label feedback-form__control-label" for="">Food</label>
          <p class="help-block feedback-form__help-block">
            Was healthy &amp; nutritious food provided?
          <p>
          <div class="review-rating feedback-form__review-rating">
            <select class="rating-select review-rating-select" name="rating" autocomplete="off">
              <option value=""></option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label feedback-form__control-label" for="">Personality</label>
          <p class="help-block feedback-form__help-block">
            Did the carer have a friendly &amp; warm personality
          <p>
          <div class="review-rating feedback-form__review-rating">
            <select class="rating-select review-rating-select" name="rating" autocomplete="off">
              <option value=""></option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label feedback-form__control-label" for="">Cleanliness</label>
          <p class="help-block feedback-form__help-block">
            Was the space organised &amp; clean?
          <p>
          <div class="review-rating feedback-form__review-rating">
            <select class="rating-select review-rating-select" name="rating" autocomplete="off">
              <option value=""></option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
        </div>

        <div class="text-center">
          <button class="btn btn-primary" type="submit" value="Submit">
            Submit
          </button>
        </div>
      </form>

    </div>
  </div>


</div>
