$title-font-size: 32px;
$body-font-size: 16px;

$brand-blue: #2552F4;
$brand-gray: #C8C8C8;

body {
  background-color: #f4f4f4;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  font-size: $body-font-size;
}


.btn {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;

  font-size: 16px;
  font-weight: 800;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);

  .btn-primary {
    background-color: $brand-blue;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
}


h1 {
  font-size: $title-font-size;
}

// Margin/Padding helper classes
// see: https://gist.github.com/jacurtis/30da4bf9a6c9b9b5cc0aebac512ca7c9
$spaceamounts: (5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 75, 100); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone
@each $space in $spaceamounts {
  @each $side in $sides {
    .m-#{str-slice($side, 0, 1)}-#{$space} {
      margin-#{$side}: #{$space}px !important;
    }

    .p-#{str-slice($side, 0, 1)}-#{$space} {
      padding-#{$side}: #{$space}px !important;
    }
  }
}

.user-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &__left {
    flex: 0;
    text-align: left;
  }

  &__right {
    flex: 1;
    margin-left: 20px;
    max-width: 250px;
    text-align: left;
  }

  &__name {
    margin-top: 0;
    font-size: 24px;
  }
}

.center-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  &__left {
    flex: 0;
    text-align: left;
  }

  &__right {
    flex: 1;
    margin-left: 20px;
    max-width: 250px;
    text-align: left;
  }

  &__name {
    margin-top: 0;
    font-size: 24px;
  }
}

.user-avatar {
  width: 100px;

  &--sm {
    width: 50px;
  }

  &--xs {
    width: 15px;
  }
}

.center-avatar {
  width: 100px;

  &--sm {
    width: 50px;
  }

  &--xs {
    width: 15px;
  }
}

.feedback-form {
  text-align: center;

  &__control-label {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0;
  }

  &__help-block {
    margin-top: 0;
  }

  &__review-rating {
    text-align: center;
  }
}

.review-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

  &__left {
    flex: 0;
    text-align: left;
  }

  &__right {
    flex: 1;
    margin-left: 20px;
    text-align: left;
  }

  &__name {
    font-weight: bold;
  }
}

.space-detail {
  margin-bottom: 20px;

  &__label {
    text-transform: lowercase;
    color: #000000;
    font-family: Raleway;
    font-size: 18px;
    font-weight: bold;
  }

  &__value {
    font-size: 20px;
    color: $brand-blue;
  }
}

#map {
  width: 100%;
  height: 100vh;
}

.map-help-text {
  position: absolute;
  top: 25px;
  width: 100%;
  text-align: center;
}

.section {
  background-color: white;
  border: 1px solid black;
  padding: 32px;

  &__cta {
    text-align: center;
  }
}
.section-title {
  text-transform: lowercase;
  color: $brand-gray;
  font-size: 14px;
  font-weight: 600;
}

.empty-block {
  text-align: center;
  color: $brand-gray;
  padding: 40px 0;
  font-size: 14px;
  font-weight: 600;
}

.space-title {
	color: #000000;
	font-size: 24px;
	font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}